[Unit]
Description=Simple Inf Printer

[Service]
ExecStart=/home/sanzhaub/test-repo/run-program.sh
Restart=always

[Install]
WantedBy=multi-user.target
